:root
{
    /* 
    タイトル画像のサイズ
    1980 * 0.4 = 792
    1080 * 0.4 = 432
     */
    --kTitleImageWidth: 792px;
    --kTitleImageHeight: 432px;
}

body
{
    background-image: url(images/background.png);
    background-attachment: fixed;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* タイトル画像のスタイル */
img[src*="#titleImage"]
{ 
    width: var(--kTitleImageWidth);
    height: var(--kTitleImageHeight);
}

/* 「目次へ」のスタイル */
.goToIndexText
{
    text-align: right;
}


/* <チートシート>
------------------------------------------------------------------------ */
.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.border
{
    border: 3px solid #ddd;
}