:root
{
    /* 
    タイトル画像のサイズ
    1980 * 0.4 = 792
    1080 * 0.4 = 432
     */
    --kTitleImageWidth: 792px;
    --kTitleImageHeight: 432px;
}

/* タイトル画像のスタイル */
img[src*="#titleImage"]
{ 
    width: var(--kTitleImageWidth);
    height: var(--kTitleImageHeight);
}

/* 「目次へ」のスタイル */
.goToIndexText
{
    text-align: right;
}


/* <チートシート>
------------------------------------------------------------------------ */
.right
{
    text-align: right;
}

.bold
{
    font-weight: bold;
}

.border
{
    border: 3px solid #ddd;
}